/* Cores definidas como variáveis */
:root {
  --background: #000;
  --border-bottom: #202020;
  --background-menu: #000000;
  --border-menu: #000;
  --text-gray: rgba(1, 1, 1, .5);
  --placeholder-color: rgb(65, 61, 61);
  --yellow: rgb(255, 244, 0);
  --pink: rgb(255, 0, 128);
  --text-light: white;
}

/* Estilos utilizando as variáveis */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  width: 100%;
  background: var(--background);
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.menu-principal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: var(--background-menu);
  border-bottom: 1px solid var(--border-bottom);
  display: flex;
  justify-content: center;
  padding: 5px 0px;
  z-index: 9999999;
}

.menu-links {
  width: 70%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-marca {
  height: 100%;
  margin-top: 5px;
  color: var(--text-light);
}

.busca-topo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 35px;
  background: #eee;
  border: 1px solid var(--border-menu);
  border-radius: 5px;
  color: var(--text-gray);
  text-align: center;
  text-transform: capitalize;
}

.busca-topo::placeholder {
  color: var(--placeholder-color);
}

.menu-icons {
  height: 26px;
  position: relative;
}

.icon {
  height: 100%;
  cursor: pointer;
  margin: 0 10px;
  display: inline-block;
  color: var(--text-light);
}

.foto-perfil {
  width: 26px;
  border-radius: 50%;
}

.progress-container {
  width: 100%;
  background-color: var(--yellow);
}

.progress-bar {
  width: 0;
  height: 4px;
  background-color: var(--pink);
}
